<mat-nav-list>
    <div class="profile-card">
        <img src="https://i.kinja-img.com/gawker-media/image/upload/c_scale,f_auto,fl_progressive,pg_1,q_80,w_800/ijsi5fzb1nbkbhxa2gc1.png" alt="user-image">
        <p>Hi!</p>
    </div>
    <mat-divider></mat-divider>

   
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active"  routerLink="/search-wiki">Wiki Search</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/createwallet">Create Wallet</a>

</mat-nav-list>